:root, :host {
  --w-white-100: white;
  --w-blue-50: #eff5ff;
  --w-blue-100: #e1edfe;
  --w-blue-200: #c2dafe;
  --w-blue-300: #9ac1fe;
  --w-blue-400: #5c9cff;
  --w-blue-500: #2b7eff;
  --w-blue-600: #0063fb;
  --w-blue-700: #244eb3;
  --w-blue-800: #223474;
  --w-red-600: #d91f0a;
  --w-button-color-text-primary: var(--w-white-100);
  --w-button-color-text-secondary: var(--w-blue-600);
  --w-button-color-text-tertiary: var(--w-blue-600);
  --w-button-color-text-critical: var(--w-white-100);
  --w-button-color-text-critical-quiet: var(--w-red-600);
  --w-button-color-background-primary: var(--w-blue-600);
  --w-button-color-background-primary-hover: var(--w-blue-700);
  --w-button-color-background-primary-active: var(--w-blue-800);
  --w-button-color-background-secondary: var(--w-white-100);
  --w-button-color-background-secondary-hover: var(--w-blue-50);
  --w-button-color-background-secondary-active: var(--w-blue-200);
  --w-button-color-background-tertiary: var(--w-transparent);
  --w-button-color-background-tertiary-hover: var(--w-gray-100);
  --w-button-color-background-tertiary-active: var(--w-gray-200);
  --w-button-color-background-critical: var(--w-red-600);
  --w-button-color-background-critical-hover: var(--w-red-700);
  --w-button-color-background-critical-active: var(--w-red-800);
  --w-button-color-background-critical-quiet: var(--w-transparent);
  --w-button-color-background-critical-quiet-hover: var(--w-red-100);
  --w-button-color-background-critical-quiet-active: var(--w-red-200);
  --w-button-color-background-favorite: var(--w-transparent);
  --w-button-color-background-favorite-hover: var(--w-blue-300-transparentized-30-percent);
  --w-button-color-border-primary: var(--w-blue-600);
  --w-button-color-border-primary-hover: var(--w-blue-700);
  --w-button-color-border-primary-active: var(--w-blue-800);
  --w-button-color-border-secondary: var(--w-bluegray-300);
  --w-button-color-border-secondary-hover: var(--w-blue-700);
  --w-button-color-border-secondary-active: var(--w-blue-800);
  --w-button-color-border-critical: var(--w-red-600);
  --w-button-color-border-critical-hover: var(--w-red-700);
  --w-button-color-border-critical-active: var(--w-red-800);
  --w-button-color-border-critical-quiet: var(--w-transparent);
  --w-button-color-border-critical-quiet-hover: var(--w-transparent);
  --w-button-color-border-critical-quiet-active: var(--w-transparent);
  --w-button-color-icon-primary: var(--w-white-100);
  --w-button-color-icon-secondary: var(--w-blue-600);
  --w-button-color-icon-tertiary: var(--w-blue-600);
  --w-button-color-icon-critical: var(--w-white-100);
  --w-button-color-icon-critical-quiet: var(--w-red-600);
  --w-button-color-icon-favorite: var(--w-gray-500);
  --w-button-color-icon-favorite-hover: var(--w-gray-600);
  --w-button-color-icon-favorite-active: var(--w-blue-600);
  --w-button-color-icon-favorite-overlay: var(--w-blue-700);
  --w-button-color-icon-favorite-overlay-hover: var(--w-blue-50);
  --w-button-color-icon-favorite-overlay-active: var(--w-white-100);
  --w-text-color: var(--w-gray-700);
  --w-text-color-subtle: var(--w-gray-500);
  --w-text-color-placeholder: var(--w-bluegray-300);
  --w-text-color-inverted: var(--w-white-100);
  --w-text-color-inverted-subtle: var(--w-gray-50);
  --w-text-color-link: var(--w-blue-600);
  --w-text-color-link-hover: var(--w-blue-800);
  --w-text-color-link-visited: var(--w-inherit);
}
